.title{
    margin-top: 2rem;
    color: #ddd;
    text-align: center;
}

.title h1{
    font-size: 4rem;
}

.input{
    margin-top: 10px;
    text-align: center;
}
.logo{
    mix-blend-mode: screen;
    max-width: 200px;
    max-height: 100px;
    margin-top: 20px;
    filter: brightness(10);
    filter:invert(1);
}

.input input{
    border-radius: 2rem;
    height: 40px;
}

input {
    width: 40%;
}

.searchResult{
    padding: 4rem 14rem;
    display: flex;
    justify-content: space-between;
    width: fill;
    flex-wrap: wrap;
    align-items: baseline;
}

.contentPreview{
    margin-top: 2rem;
}
