.title{
    margin-top: 2rem;
    color: #fff;
    text-align: center;
}

.title h1{
    font-size: 4rem;
}

.input{
    margin-top: 10px;
    text-align: center;
    border: none;
}

.input:selection{
    border: none;

}
.logo{
    filter: brightness(10);
    filter:invert(1);
    mix-blend-mode: screen;
    max-width: 200px;
    max-height: 100px;
    margin-top: 20px;
}

.input input{
    border-radius: 2rem;
    height: 40px;
}

input {
    width: 40%;
}


.searchResult{
    padding: 2rem 14rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
